---
import BaseLayout from "../layouts/BaseLayout.astro";
import Hero from "../components/sections/Hero.astro";
import PainPoints from "../components/sections/PainPoints.astro";
import Vision from "../components/sections/Vision.astro";
import Modules from "../components/sections/Modules.astro";
import Bonuses from "../components/sections/Bonuses.astro";
import Guarantee from "../components/sections/Guarantee.astro";
import FinalCTA from "../components/sections/FinalCTA.astro";
---

<BaseLayout>
  <main>
    <Hero />
    <PainPoints />
    <Vision />
    <Modules />
    <Bonuses />
    <Guarantee />
    <FinalCTA />
  </main>
</BaseLayout>
