---
import "../styles/global.css";

const {
  title = "Inscripciones Abiertas - Bootcamp - Nuna Wellness",
  description = "Bootcamp Postres Saludables para Emprender"
} = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content={description} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
